{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
 <div class="album py-5 bg-light">
    <div class="container">
	<div class="content-section">
		<form class="px-4 py-3" method="POST" enctype="multipart/form-data">
			{% csrf_token%}
			<fieldset class="form-group">
				<legend class="border-bottom">
					Registration
				</legend>
				{{form| crispy}}
			</fieldset>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</form>	
	</div>
	</div>
</div>
{% endblock content%}